<h3>Reactive Forms</h3>
<form [formGroup]="myForm" novalidate>
  <app-custom-input type="text" formControlName="name">Name</app-custom-input>
  <br>
  <app-custom-input type="number" formControlName="age">Age</app-custom-input>
  <app-custom-input type="text" formControlName="disabled">Disabled</app-custom-input>
</form>

<section>
  <h3>Form Result</h3>
  <ul>
    <li>
      Form Values: {{myForm.value | json}}
    </li>
    <li>
      Valid: {{myForm.valid | json}}
    </li>
  </ul>
</section>
